<div id="<%= dom_id academium %>">
  <p>
    <strong>Nome:</strong>
    <%= academium.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= academium.email %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= academium.endereco %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= academium.cnpj %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= academium.contato %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= academium.ativo %>
  </p>

  <p>
    <strong>Proprietario:</strong>
    <%= academium.proprietario.nome %>
  </p>

</div>
