<div id="<%= dom_id academium %>">
  <p>
    <strong>Id proprietario:</strong>
    <%= academium.id_proprietario %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= academium.integer %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= academium.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= academium.email %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= academium.endereco %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= academium.cpf %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= academium.contato %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= academium.ativo %>
  </p>

</div>
