<div id="<%= dom_id academium %>">
  <p>
    <strong>Nome:</strong>
    <%= academium.nome %>
  </p>

  <p>
    <strong>Email Comercial:</strong>
    <%= academium.email_comercial %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= academium.endereco.logradouro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= academium.endereco.cep %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= academium.cnpj %>
  </p>

  <p>
    <strong>Contato Comercial:</strong>
    <%= academium.contato_comercial %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= academium.ativo %>
  </p>

  <p>
    <strong>Proprietario:</strong>
    <%= academium.proprietario.nome %>
  </p>

</div>
