<%= form_with(model: academium) do |form| %>
  <% if academium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(academium.errors.count, "error") %> prohibited this academium from being saved:</h2>

      <ul>
        <% academium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <%= form.fields_for :endereco do |endereco_form| %>
    <div>
      <%= endereco_form.label :logradouro, display: "block" %>
      <%= endereco_form.text_field :logradouro %>
    </div>

    <div>
      <%= endereco_form.label :cep, display: "block" %>
      <%= endereco_form.text_field :cep %>
    </div>

  <%end %>

  <div>
    <%= form.label :cnpj, style: "display: block" %>
    <%= form.text_field :cnpj %>
  </div>

  <div>
    <%= form.label :contato, style: "display: block" %>
    <%= form.text_field :contato %>
  </div>

  <div>
    <%= form.label :ativo, style: "display: block" %>
    <%= form.check_box :ativo %>
  </div>

  <div class="col-md-6 form-group">
    <%= form.label :proprietario_id, "Proprietário", style: "display: block" %>
    <%= form.select :proprietario_id, @proprietarios, {}, { class: "form-select" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
