<p style="color: green"><%= notice %></p>

<h1>Academia</h1>

<%= link_to "Voltar para a home", "/" %>

<div id="academia">
  <% @academia.each do |academium| %>
    <%= render academium %>
    <p>
      <%= link_to "Show this academium", academium %>
    </p>
  <% end %>
</div>

<div>
  <br>
  <a href="/exercicios/new">criar novo exercicio</a>
  <a href="/exercicios">seus exercicios</a>
</div>


<br>

<%= link_to "nova academia", new_academium_path %>
