<p style="color: green"><%= notice %></p>

<%= render @academium %>

<div>
  <%= link_to "Editar", edit_academium_path(@academium) %> |
  <%= link_to "Voltar para todas as academias", academia_path %>

  <%= button_to "Deletar", @academium, method: :delete %>
</div>
