<div id="<%= dom_id exercicio %>">
  <p>
    <strong>Titulo:</strong>
    <%= exercicio.titulo %>
  </p>

  <p>
    <strong>Dificuldade:</strong>
    <%= exercicio.dificuldade %>
  </p>

  <p>
    <strong>Calorias:</strong>
    <%= exercicio.calorias %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= exercicio.descricao %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= exercicio.quantidade %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= exercicio.tipo %>
  </p>

  <p>
    <strong>Academium:</strong>
    <%= exercicio.academium.nome %>
  </p>

</div>
