<p style="color: green"><%= notice %></p>

<%= render @exercicio %>

<div>
  <%= link_to "Editar", edit_exercicio_path(@exercicio) %> |
  <%= link_to "Voltar para todos os exercícios", exercicios_path %>

  <%= button_to "Deletar", @exercicio, method: :delete %>
</div>
