<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= aluno.endereco %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= aluno.cep %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= aluno.cpf %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= aluno.data_nascimento %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= aluno.contato %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= aluno.senha %>
  </p>

</div>
