<%= form_with(model: aluno) do |form| %>
  <% if aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <%= form.fields_for :endereco do |endereco_form| %>
    <div>
      <%= endereco_form.label :logradouro, display: "block" %>
      <%= endereco_form.text_field :logradouro %>
    </div>

    <div>
      <%= endereco_form.label :cep, display: "block" %>
      <%= endereco_form.text_field :cep %>
    </div>

  <%end %>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :data_nascimento, style: "display: block" %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div>
    <%= form.label :contato, style: "display: block" %>
    <%= form.text_field :contato %>
  </div>

  <div>
    <%= form.label :senha, style: "display: block" %>
    <%= form.password_field :senha %>
  </div>

  <%= form.label :academium_id, "Academia", style: "display: block" %>
  <%= form.select :academium_id, @academias, {}, { class: "form-select" } %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
