<p style="color: green"><%= notice %></p>

<%= render @aluno %>

<div>
  <%= link_to "Editar", edit_aluno_path(@aluno) %> |
  <%= link_to "Voltar para todos os alunos", alunos_path %>

  <%= button_to "Deletar", @aluno, method: :delete %>
</div>
