<div id="<%= dom_id instrutor %>">
  <p>
    <strong>Nome:</strong>
    <%= instrutor.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= instrutor.cpf %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= instrutor.data_de_nascimento %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= instrutor.contato_telefone %>
  </p>

  <p>
    <strong>Logradouro:</strong>
    <%= instrutor.endereco.logradouro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= instrutor.endereco.cep %>
  </p>

  <p>
    <strong>Academium:</strong>
    <%= instrutor.academium.nome %>
  </p>

  <p>
    <strong>Horas de trabalho:</strong>
    <%= instrutor.horas_de_trabalho %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= instrutor.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= instrutor.password %>
  </p>

</div>
