<p style="color: green"><%= notice %></p>

<h1>Instrutors</h1>

<%= link_to "Voltar para a home", "/" %>

<div id="instrutors">
  <% @instrutors.each do |instrutor| %>
    <%= render instrutor %>
    <p>
      <%= link_to "Show this instrutor", instrutor %>
    </p>
  <% end %>
</div>

<br>

<%= link_to "Novo instrutor", new_instrutor_path %>
