<p style="color: green"><%= notice %></p>

<%= render @instrutor %>

<div>
  <%= link_to "Editar", edit_instrutor_path(@instrutor) %> |
  <%= link_to "Voltar para todos os instrutores", instrutors_path %>

  <%= link_to "Adicionar novo aluno" "/alunos/new" %>

  <%= button_to "Deletar instrutor", @instrutor, method: :delete %>
</div>
